body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color: brown;
}
article{
    flex: 2;
    overflow-y: auto;
    background-color: blanchedalmond;
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color: chartreuse;
}
footer{
    background-color: chocolate;
}